<h1>Sign Up</h1>
<%- message %>
<form method="post" action="/auth/signup">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
  <p>
    <input type="submit" value="signUp">
  </p>
</form>